<h3>Registrazione</h3>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<form #miaForm="ngForm" novalidate (ngSubmit)="register()">
  <div class="form-group mb-2">
    <label for="nome">Nome</label>
    <input [(ngModel)]="model.nome" type="text" class="form-control" name="nome" id="nome" autocomplete="off">
  </div>
  <div class="form-group mb-2">
    <label for="email">E-mail</label>
    <input [(ngModel)]="model.email" type="email" class="form-control" name="email" id="email" autocomplete="off">
  </div>
  <div class="form-group mb-2">
    <label for="password">Passoword</label>
    <input [(ngModel)]="model.password" type="password" class="form-control" name="password" id="password"
      autocomplete="off">
  </div>
  <div class="form-group mb-2">
    <button type="submit" class="btn btn-primary">Registrami</button>
  </div>
</form>
<pre>
{{miaForm}}
</pre>
<!-- <pre>
  {{model | json}}
</pre> -->