<h3>Login</h3>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<form #miaForm="ngForm" novalidate (ngSubmit)="login()">
  <div class="form-group mb-2">
    <label for="email">E-mail</label>
    <input [(ngModel)]="model.email" type="email" class="form-control"
      [ngClass]="{'is-invalid': email.invalid && email.dirty, 'is-valid': email.valid}" name="email" id="email"
      autocomplete="off" required #email="ngModel" email>
    <div class="invalid-feedback" *ngIf="email.invalid && email.dirty">Email non valida</div>
  </div>
  <div class="form-group mb-2">
    <label for="password">Passoword</label>
    <input [(ngModel)]="model.password" type="password" class="form-control" name="password" id="password"
      autocomplete="off" required #pass="ngModel" pattern="\d{4}"
      [ngClass]="{'is-invalid': pass.invalid && pass.dirty, 'is-valid': pass.valid}">
    <div class="invalid-feedback" *ngIf="pass.errors?.['required'] && pass.dirty">Password obbligatoria</div>
    <div class="invalid-feedback" *ngIf="pass.errors?.['pattern'] && pass.dirty">La Password deve contenere almeno 4
      numeri</div>
  </div>
  <div class="form-group mb-2">
    <button type="submit" class="btn btn-primary" [disabled]="!miaForm.valid">Entra</button>
  </div>
</form>
<!-- <pre>
  Email è valido: {{email.valid}}
</pre>
<pre>
  Passoword è valido: {{pass.valid}}
</pre>
<pre>
  Tutta la form è valida: {{miaForm.valid}}
</pre> -->
<!-- <pre>
  {{model | json}}
</pre> -->