img {
  max-width: 24rem;
}

.prodotti-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

/* input.ng-invalid.ng-touched {
  border: solid red 1px;
}

input.ng-valid.ng-touched {
  border: solid rgb(0, 135, 25) 1px;
} */